{% extends "../layout/base.html" %}
{% include "style/bootstrap.html" %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html lang="en">
    {% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Help and Resources Page</title>
</head>
<body>
<div>
    <p> Inspirational Quote: </p>
        <p>"{{quote.text}}" -{{quote.author}}</p>

</div>

    <h2 style="text-align: left;"><strong>Student Wellness Support</strong></h2>
    <p>Below are a variety of support resources available across the UW-Madison campus.</p>
<ul>
<li><a href="https://cfli.wisc.edu/" class="external" target="_blank" rel="noreferrer noopener"><span style="font-weight: 400;">Center for Leadership and Involvement</span></a></li>
<li><a href="https://doso.students.wisc.edu/services/crisis-loan/" class="external" target="_blank" rel="noreferrer noopener"><span style="font-weight: 400;">Dean of Students Office: Crisis Loans</span></a></li>
<li><a href="https://doso.students.wisc.edu/report-an-issue/" class="external" target="_blank" rel="noreferrer noopener"><span style="font-weight: 400;">Dean of Students Office: Report an Incident</span></a></li>
<li><a href="https://financialaid.wisc.edu/" class="external" target="_blank" rel="noreferrer noopener"><span style="font-weight: 400;">Office of Student Financial Aid</span></a></li>
<li><a href="https://kb.wisc.edu/84346" class="external" target="_blank" rel="noreferrer noopener"><span style="font-weight: 400;">The Open Seat - UW Student Food Pantry</span></a></li>
<li><a href="https://studentjobs.wisc.edu/" class="external" target="_blank" rel="noreferrer noopener"><span style="font-weight: 400;">Student Jobs</span></a></li>
<li><a href="https://www.uhs.wisc.edu/medical/" class="external" target="_blank" rel="noreferrer noopener"><span style="font-weight: 400;">University Health Services: Medical Services</span></a></li>
<li><a href="https://www.uhs.wisc.edu/mental-health/" class="external" target="_blank" rel="noreferrer noopener"><span style="font-weight: 400;">University Health Services: Mental Health Services</span></a></li>
<li><a href="https://recwell.wisc.edu/" class="external" target="_blank" rel="noreferrer noopener"><span style="font-weight: 400;">University Recreation and Wellbeing</span></a></li>
</ul>



</body>
 {% endblock %}
</html>
