{% extends "../layout/base.html" %}
{% include "style/bootstrap.html" %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


{% block content %}
    {% if user.is_authenticated %}
    <form action="/board/create-post" method="post" style="width:50%; margin-left:100px; color: white;" role="form">
      {% csrf_token %}
      <div class="list-group" id="post">
      <div class="form-group">
        <label for="post_title">{{form.title.label_tag}}</label>
        <input type="text" name="title" class="form-control" maxlength="128" required id="post_title" >
      </div>
      <div class="form-group">
        <label for="details">{{form.details.label_tag}}</label>
        <input type="text" name = "details" class="form-control" maxlength="8192" required id="details" >
      </div>
      <div class="form-group form-check">
        <label style="margin-left:-20px;" for="anonymous" class="form-check-label">{{form.anonymous.label_tag}}</label><br>
        <input type="checkbox" name="anonymous" class="form-check-input" id="anonymous"><br>
      </div>
      </div>
      <input type="submit" class="btn btn-primary" style="background-color:#68C8B5; border: 0px; margin-top:10px;" value="Create Post">
    </form>
{% else %}
    <p style="color: black; width:50%; margin-left:50px; font-size: 16px;">You haven't login yet. Please login first. <br><br>
      <a href="{% url 'login' %}" class="btn btn-primary btn-block" style="background-color:#FBC95B; border: 0px; width:150px;">Login here</a></p>
{% endif %}

{% endblock %}