{% extends "../layout/base.html" %}
{% include "style/bootstrap.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}

    <form action="" method="post" style="width:50%; margin-left:100px; color:white;" role="form">
      {% csrf_token %}
        <div class="list-group" id="post">
      {{ form }}<br>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">Anonymous</label>
      </div>
        </div>
      <input type="submit" class="btn btn-primary" style="background-color:#68C8B5; border: 0px; margin-top:10px;" value="Create Reply">
    </form>

{% endblock %}
