{% extends "../layout/base.html" %}
{% include "style/bootstrap.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">
{% block content %}
    <form action="/board/create-post" method="post" style="width:50%; margin-left:100px;" role="form">
      {% csrf_token %}
      <div class="form-group">
        <label for="post_title">{{form.title.label_tag}}</label>
        <input type="text" name="title" class="form-control" maxlength="128" required id="post_title" >
      </div>
      <div class="form-group">
        <label for="details">{{form.details.label_tag}}</label>
        <input type="text" name = "details" class="form-control" maxlength="8192" required id="details" >
      </div>
        <div class="form-group">
        <label>Post Tags</label>
        <select multiple class="form-control">
          <option>Anxiety</option>
          <option>Stress</option>
          <option>School</option>
        </select>
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input">
        <label class="form-check-label">Anonymous</label>
      </div>
      <input type="submit" class="btn btn-primary" style="background-color:#FBC95B; border: 0px" value="Create Post">
    </form>
{% endblock %}
