{% extends "../layout/base.html" %}
{% include "style/bootstrap.html" %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html>
  {% block content %}
  <head>
    <meta charset="utf-8" />
    <title>Discussion Board</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        {% if user.is_authenticated %}
        <div class="col">
          <div class="left-content">
          {% if posts %}
            {% for post in posts %}
          <div class="container">
            <div class="post" onclick="location.href='create-post';"> <! this should eventually link to the post's page to view replies>
            <span class="titles"> <b> <a href="" id="post-link">{{ post.title }} </a></b> </span> <! this should eventually link to the post's page to view replies>
            <div class="container">
              <span class="details">{{post.details}}</span>
            </div>
            <div class="container">
              <div class="row">
                <span class="other"><div class="col-1">{{ post.user.username }}</div></span>
                <span class="other"><div class="col">{{ post.create_date }}</div></span>
              </div>
              <div class="row">
                <div class="col">
                <a href="" class="btn btn-primary" id="reply-button">
                  Reply!!
                </a>
                </div>
              </div>
            </div>
            </div>
          </div>
            {% endfor %}
          {% else %}
          <p>No posts available.</p>
          {% endif %}
        </div>

        </div>
        <div class="col">
          <div class="right-content">
            <a href="/board/create-post" class="btn btn-primary" id="create-button">
              Create post
              </a>
          </div>
        </div>
        {% else %}
        <p style="color: black; width:50%; margin-left:50px; font-size: 16px;">You haven't login yet. Please login first.</p> <br><a href="{% url 'login' %}" style="color: black; width:50%; margin-left:50px; font-size: 16px;">Login here</a>
        {% endif %}
      </div>
    </div>
  </body>
  {% endblock %}
</html>
