{% extends "../layout/base.html" %}
{% include "style/bootstrap.html" %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


{% block content %}

    <title>
        View Post Page
    </title>
    <p>
        {{post.title}}
    </p>

    <p>
        {{post.details}}
        {{post.create_date}}
        {{post.user}}
    </p>

    <p>
        {% for reply in replies %}
            Reply_ID: {{reply.id}} {{reply}} <br>
        {% endfor %}

    </p>

    <a href="{% url 'create-reply' post.id %}" class="btn btn-primary" id="create-button">
            Create reply
          </a>
    <a href="{% url 'delete-post' post.id %}" class="btn btn-primary" id="delete-post-button">
            Delete Post
          </a>
    <a href="{% url 'delete-reply' post.id %}" class="btn btn-primary" id="delete-reply-button">
            Delete Reply
          </a>


{% endblock %}