{% extends "../layout/base.html" %}
{% include "style/bootstrap.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">


<!DOCTYPE html>
<html>
  {% block content %}
  <head>
    <meta charset="utf-8" />
    <title>View Reply Page</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <div class="container">
      <div class="row">
        <div class="col">
            <div class="list-group" id="reply">
                <a href="" class="list-group-item list-group-item-action flex-column align-items-start" id="inner-reply">
              <p id="reply-details">{{reply.details}}</p>
                <div class="d-flex w-100 justify-content-between">
                  <h8 class="mb-1"><small> Posted By: {{ reply.display_user }} </small></h8>
                  <small> {{ reply.create_date }} </small>
                </div>
                </a>
            </div>
    {% else %}
    <p style="color: black; width:50%; margin-left:50px; font-size: 16px;">You haven't login yet. Please login first. <br>
      <a href="{% url 'login' %}" class="btn btn-primary btn-block" style="background-color:#FBC95B; border: 0px; width:150px;">Login here</a></p>
    {% endif %}
        </div>
           <div class = 'col'>
               {% if user == reply.user %}
               <a href="{% url 'delete-reply' reply.id %}" class="btn btn-primary" id="delete-reply-button">
                    Delete Reply
               </a>
               {% endif %}
               {% if user == reply.user %}
                <a href="{% url 'edit-reply' reply.id %}" class="btn btn-primary" id="edit-reply-button">
                      Edit Reply
                </a>
               {% endif %}
          </div>
      </div>
    </div>
  </body>

{% endblock %}

