{% extends "../layout/basic.html" %}
{% include "style/bootstrap.html" %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
<h4 style="color: black; width:50%; margin-left:50px;">Thank you for the registration. One last step to go! </h4>
<p style="color: black; width:50%; margin-left:50px; font-size: 16px;">We've emailed you instructions to activate your account. If they haven't arrived in a few minutes, check your spam folder.</p>
<p style="color: black; width:50%; margin-left:50px; font-size: 16px;"> Since the app is under development process, sent email is under "discussion_board/sent_emails" folder</p>
{% endblock %}