{% extends "../layout/base.html" %}
{% include "style/bootstrap.html" %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html>
  {% block content %}
  <head>
    <meta charset="utf-8" />
    <title>User Dashboard</title>
  </head>
  <body>
    {% if user.is_authenticated %}
    <div style="color: black; width:50%; margin-left:50px;">
      <div class="list-group" id="profile">
      <h4 >User Dashboard</h4>
      <ul>
        <li>Account Role: {{ user.profile.user_type }} </li>
        <li>Username: {{ user.username }} </li>
        <li>First Name: {{ user.first_name }} </li>
        <li>Last Name: {{ user.last_name }} </li>
        <li>Email: {{ user.email }} </li>
        <li>Anonymity: {{ user.profile.anonymous }} </li>
      </ul>
      </div>
      <a class="btn btn-primary" href="{% url 'edit_profile' %}" style="background-color:#EA743F; border: 0px; width=50%; margin-left: 30px; margin-top:10px;">Edit Profile</a>
    </div>
    {% else %}
    <p style="color: black; width:50%; margin-left:50px; font-size: 16px;">You haven't login yet. Please login first. <br>
      <a href="{% url 'login' %}" class="btn btn-primary btn-block" style="background-color:#FBC95B; border: 0px; width:150px;">Login here</a></p>
    {% endif %}
  </body>
  {% endblock %}
</html>