{% extends "../layout/base.html" %}
{% include "style/bootstrap.html" %}
{% load static %}


<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

<!DOCTYPE html>
<html>
  {% block content %}
  <head>
    <meta charset="utf-8" />
    <title>Page Not Found</title>
  </head>
  <body>
    <p style="color: black; width:50%; margin-left:50px; font-size: 16px;">404: Page Not Found</p>
    <a href="/board/" class="btn btn-primary btn-block" style="background-color:#EA743F; border: 0px; width=50%; margin-left: 30px; margin-top:10px;">
      Go to home page
    </a>
  </body>
  {% endblock %}
</html>