{% extends "../layout/basic.html" %}
{% include "style/bootstrap.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
{% if form.email.errors %}
  <p style="color: black; width:50%; margin-left:50px; font-size: 16px;">{{ form.email.errors }}</p>
{% endif %}
<form method="post" action="." style="width:50%; margin-left:50px;" role="form">
  {% csrf_token %}
      <div class="form-group">
          <div class="list-group" id="profile">
        <label for="username">{{form.email.label_tag}}</label>
        <input type="text" name="email" class="form-control" maxlength="64" required id="email" >
              </div>
      </div>
      <input type="submit" class="btn btn-primary" style="background-color:#EA743F; border: 0px; margin-left:30px;" value="Reset Password">
</form>

{% endblock %}