{% extends "../layout/base.html" %}
{% include "style/bootstrap.html" %}
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'style.css' %}">

{% block content %}
    {% if validlink %}
        {% if form.errors %}
            <p style="color: black; width:50%; margin-left:50px; font-size: 16px;">Your password is not valid, please try again.</p>
        {% endif %}

        <form action="" method="post" style="width:50%; margin-left:50px;" role="form">
            {% csrf_token %}
            <div class="list-group" id="profile">
                <p>Please enter (and confirm) your new password.</p>
                <p>Your password must be at least 8 characters.</p>
            <div class="form-group">
                <label for="id_new_password1">New password:</label>
                <input type="password" name="new_password1" class="form-control" maxlength="128" required id="id_new_password1" >
            </div>
            <div class="form-group">
                <label for="id_new_password2">Confirm password:</label>
                <input type="password" name = "new_password2" class="form-control" maxlength="128" required id="id_new_password2" >
            </div>
            </div>
            <input type="submit" class="btn btn-primary" style="background-color:#EA743F; border: 0px; margin-left:30px; margin-top:10px;" value="Change my password">
        </form>
    {% else %}
        <h3 style="width:50%; margin-left:50px;">Password reset failed</h3>
        <p style="width:50%; margin-left:50px;">The password reset link is invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
{% endblock %}
