a {
  font-size: 20px;
  text-decoration: none;
}


a:hover {
  color: black;
  text-decoration: underline;
}

#logo {
    border: 0px solid white;
    border-radius: 3px;
}

#searchbtn {
    color:white;
    border: 1px solid white;
}

#link-item {
    color: white;
    padding:5px;
    margin: 10px;
    border: 0px solid white;
    border-radius: 5px;
}
#link-item:hover {
    color: black;
}

footer {
    color: white;
    font-size: 12px;
}

body, header, footer {
    font-family: Lucida Bright;
}

body {
    padding-top: 100px;
}

footer {
    margin-top: 20px;
}

#post {
    background-color:#68C8B5;
    margin-top:20px;
    padding:10px;
    border-radius: 10px;
}

#create-button {
    /* position: relative; */
    background-color:#68C8B5;
    border-radius: 10px;
    /* border: 2px solid gray; */
    /* color: black; */
    /* margin: 100px; */
    margin: 300px;
    position: fixed;
}